*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(40, 40, 131);
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

}
.container{
    /* margin:10px 20px; */
    padding: 30px;
    justify-content: space-between;
    height: 20px;
}
.counter{
    /* margin:10px 20px; */
    padding: 30px;
    justify-content: space-between;
    height: 20px;
    color: yellow;
    font-size: 29px;
}
